.App {
  text-align: center;
}
.mainImg {
  /* background-position: 0 -50px; */
  padding: 5%;
  height: 68vh;
  /* background-image: url("./assets/T_3.svg"); */
  background-size: cover;
  clip-path: ellipse(100% 55% at 48% 44%);
  color: white;
  text-align: left;
}
.weather {
  font-size: 40px;
}
.temp {
  position: relative;
  font-size: 4.375rem;
}
.deg {
  position: absolute;
  top: 10px;
  font-size: 1.25rem;
  font-weight: bold;
}
.searchbar {
  border: none;
  border-radius: 5px;
  width: 70%;
}
.searchbardiv {
  text-align: center;
  margin-top: 0px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
